@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* background */

    --askdit-bg: 0 8% 90%;
    --askdit-bg-subtle: 0 5% 94%;
    --askdit-bg-emphasis: 0 5% 97%;
    --askdit-bg-highlight: 0 0% 80%;

    --askdit-bg-muted: hsl(220 13% 91%);
    --askdit-bg-inverted: hsl(221, 39%, 11%);

    /* background -> components*/
    --askdit-bg-info: #dee9fc;
    --askdit-bg-success: #e2fbe8;
    --askdit-bg-attention: #fceed8;
    --askdit-bg-error: #f9e3e2;
    --askdit-bg-dark-error: #752522;

    /* Borders */
    --askdit-border: 0 10% 60%;

    --askdit-border-emphasis: #9ca3af;
    --askdit-border-subtle: #e5e7eb;
    --askdit-border-booker: #e5e7eb;
    --askdit-border-muted: #f3f4f6;
    --askdit-border-error: #aa2e26;

    /* Content/Text */
    --askdit-text: 0 10% 3.9%;
    --askdit-text-inverted: 0 0% 90%;
    --askdit-text-subtle: 0 0% 47%;

    --askdit-text-emphasis: #111827;
    --askdit-text-muted: #9ca3af;

    /* Content/Text -> components */
    --askdit-text-info: #253985;
    --askdit-text-success: #285231;
    --askdit-text-attention: #73321b;
    --askdit-text-error: #752522;

    /* Brand Colors */
    --askdit-brand: 0 82% 58%;
    --askdit-brand-text: 240 5% 26%;

    --askdit-brand-emphasis: #101010;

    /* Skeleton */
    --skeleton-base: #d9d9d9;
    --skeleton-highlight: #cccccc;

    /* 
      Shadcn's Variables 
    */

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 92%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 2%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 92%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    /* background */

    --askdit-bg: 0 0% 10%;
    --askdit-bg-subtle: 0 0% 13%;
    --askdit-bg-emphasis: 0 0% 16%;
    --askdit-bg-highlight: 0 0% 22%;

    --askdit-bg-muted: #f9fafb;
    --askdit-bg-inverted: #111827;

    /* background -> components*/
    --askdit-bg-info: #dee9fc;
    --askdit-bg-success: #e2fbe8;
    --askdit-bg-attention: #fceed8;
    --askdit-bg-error: #f9e3e2;
    --askdit-bg-dark-error: #752522;

    /* Borders */
    --askdit-border: 0 0% 47%;

    --askdit-border-emphasis: #9ca3af;
    --askdit-border-subtle: #e5e7eb;
    --askdit-border-booker: #e5e7eb;
    --askdit-border-muted: #f3f4f6;
    --askdit-border-error: #aa2e26;

    /* Content/Text */
    --askdit-text: 0 0% 100%;
    --askdit-text-subtle: 0 0% 47%;
    --askdit-text-inverted: 0 0% 2%;

    --askdit-text-emphasis: #111827;
    --askdit-text-muted: #9ca3af;

    /* Content/Text -> components */
    --askdit-text-info: #253985;
    --askdit-text-success: #285231;
    --askdit-text-attention: #73321b;
    --askdit-text-error: #752522;

    /* Brand Colors */
    --askdit-brand: 0 82% 58%;
    --askdit-brand-text: white;

    --askdit-brand-emphasis: #101010;

    /* Skeleton */
    --skeleton-base: #3d3d3d;
    --skeleton-highlight: #444;

    /* Shadcn's Variables */
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 18.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 0 0% 90%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 18.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 75% 50%; /*0 62.8% 30.6%; */
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-default text-foreground;
  }
}
